@model StoreViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-lg border-0">
            <div class="card-header bg-primary text-white text-center">
                <h2 class="card-title">@Model.Name</h2>
                <form asp-area="Admin" asp-action="StoreEdit" method="post">
                    
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label fw-bold">Název</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="Address" class="form-label fw-bold">Adresa</label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="City" class="form-label fw-bold">Město</label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="Phone" class="form-label fw-bold">Telefon</label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="OpeningHours" class="form-label">Otevírací hodiny</label>
                        <textarea asp-for="OpeningHours" class="form-control" rows="7"></textarea>
                        <span asp-validation-for="OpeningHours" class="text-danger"></span>
                    </div>
                    
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Uložit změny</button>
                        <a asp-area="Admin" asp-controller="Store" asp-action="StoreList" class="btn btn-secondary">Zpět</a>
                    </div>
                    
                    
                </form>
            </div>
        </div>
    </div>
</div>
</div>