@model UserCreateViewModel

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container mt-5">
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-lg border-0">
            <div class="card-header bg-primary text-white text-center">
                <h2 class="card-title mb-0">Přidat</h2>
            </div>

            <div class="card-body py-4 px-5">
                <form asp-action="UserCreate" asp-controller="User" method="post">

                    <div class="form-group">
                        <label asp-for="FirstName" class="form-label">Křestní jméno</label>
                        <input asp-for="FirstName" class="form-control" placeholder="Zadejte své křestní jméno" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="form-label">Příjmení</label>
                        <input asp-for="LastName" class="form-control" placeholder="Zadejte své příjmení" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="form-label">Adresa</label>
                        <input asp-for="Address" class="form-control" placeholder="Zadejte svou adresu" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="form-label">Město</label>
                        <input asp-for="City" class="form-control" placeholder="Zadejte své město" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PostalCode" class="form-label">PSČ</label>
                        <input asp-for="PostalCode" class="form-control" placeholder="Zadejte PSČ" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Country" class="form-label">Země</label>
                        <input asp-for="Country" class="form-control" placeholder="Zadejte svou zemi" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="form-label">Telefonní číslo</label>
                        <input asp-for="PhoneNumber" class="form-control" placeholder="Zadejte telefonní číslo" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input asp-for="Email" class="form-control" placeholder="Zadejte svůj email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="form-label">Heslo</label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Zadejte heslo" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="form-label">Potvrzení hesla</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Potvrďte heslo" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                        
                        <div class="form-group">
                            <label asp-for="Role" class="form-label fw-bold">Role</label>
                            <select asp-for="Role" class="form-control">
                                <option value="">Vyberte roli</option>
                                @foreach (var role in Model.Roles)
                                {
                                    <option value="@role">@role</option>
                                }
                            </select>
                                
                        </div>

                            
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="bi bi-save"></i> Uložit
                                </button>
                            </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
